<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.people"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MOUNT_FORMAT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:allowTaskReparenting="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="NiRCYiYe5oTpm5FGreslsFqM" />
       <!-- jhfiWOp2DREEQGLvy5hdnkPY -->
       <!--  HH7enYpDlefPqMqgE7L4QRr7 NiRCYiYe5oTpm5FGreslsFqM-->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <service android:name="com.example.gongneng.showpollocService" >
            <intent-filter>
                <action android:name="showpollocService" />
            </intent-filter>
        </service>

        <activity
            android:name="com.example.people.PageActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.slidingmenu.view.SlidingMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.people.MaindemoActivity"
            android:allowTaskReparenting="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.about"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.Register"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.gnActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.Callpolice"
            android:allowTaskReparenting="true"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.Cancellog"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.SetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.Myrecord"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.Tongzhi"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.Pingfen"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.Alltext"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.Knowledge"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.knowledgetext"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.Detail"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.gongneng.More"
            android:screenOrientation="portrait" />
    </application>

</manifest>